In [14]:
import pandas as pd
import glob
import os

In [17]:
noCountry=pd.read_csv('prevalence-of-undernourishment.csv')
noCountryTwo=pd.read_csv('latlong_country.csv')

noCountry
noCountryTwo

    ISO 3166 Country Code                Entity  Latitude  Longitude
0                      AD               Andorra     42.50       1.50
1                      AE  United Arab Emirates     24.00      54.00
2                      AF           Afghanistan     33.00      65.00
3                      AG   Antigua and Barbuda     17.05     -61.80
4                      AI              Anguilla     18.25     -63.17
..                    ...                   ...       ...        ...
235                    YE                 Yemen     15.00      48.00
236                    YT               Mayotte    -12.83      45.17
237                    ZA          South Africa    -29.00      24.00
238                    ZM                Zambia    -15.00      30.00
239                    ZW              Zimbabwe    -20.00      30.00

[240 rows x 4 columns]

In [24]:
# reading two csv files
data1 = pd.read_csv('prevalence-of-undernourishment.csv')
data2 = pd.read_csv('latlong_country.csv')

#using merge function by setting how='inner'
output1 = pd.merge(data1, data2,
on='Entity',
how='inner')

# displaying result
output1
#data1
output1.to_csv ("C:/Users/acer/Desktop/Assignment 2/wlc.csv" , index = False, header=True)

In [27]:
# reading two csv files
data1 = pd.read_csv('gdp-per-capita.csv')
data2 = pd.read_csv('latlong_country.csv')

#using merge function by setting how='inner'
output1 = pd.merge(data1, data2,
on='Entity',
how='inner')

# displaying result
output1
#data1
output1.to_csv ("C:/Users/acer/Desktop/Assignment 2/wlcgdp.csv" , index = False, header=True)

In [31]:
# reading two csv files
data1 = pd.read_csv('countries.csv')
data2 = pd.read_csv('latlong_country.csv')

#using merge function by setting how='inner'
output1 = pd.merge(data1, data2,
on='Country',
how='inner')

# displaying result
output1
#data1
output1.to_csv ("C:/Users/acer/Desktop/Assignment 2/wlcnt.csv" , index = False, header=True)